.small-card__container{
  width: 800px;
  display: flex;
  border-bottom: 1px solid white;
  padding-bottom: 16px;
  margin-bottom: 16px;

  &__photo{
    margin-right: 16px;
  }

  &__content{


    &__title{

      h1{
        font-size: 19px;
      }
    }

    &__description{
      text-align: justify;
      width: 534px;

      p{
        font-size: 14px;
        color: gray;
      }
    }

  }

}
