<div class="menu__container">
  <div class="menu__container__logo">
    <a routerLink="/" ><img src="https://placehold.co/40x40" alt="logo"></a>
  </div>
  <nav class="menu__container__nav">
    <ul class="menu__container__nav__content">
      <li ><a href="https://levipereira9-portfolio.vercel.app/" target="_blank">Portfólio</a></li>
      <li ><a href="https://www.linkedin.com/in/levi-pereira-da-silva-61303a193/" target="_blank" >Linkedin</a></li>
      <li ><a href="https://github.com/LeviPereira9" target="_blank">Github</a></li>
    </ul>
  </nav>
</div>
